body{
    background-color:lightgray;
}

#total-orders{

    background-color: rgb(0, 183, 255);
}

#orders-delivered{

    background-color: rgb(0, 255, 42);
}

#orders-pending{

    background-color: rgb(255, 47, 47);
}