
<style>

    .delete-page-design{

        margin: 0 auto;
        padding: 10px;
    }

</style>

{% extends 'accounts/main.html' %}

 {% block title %}

    <title> Delete Order </title>

 {% endblock title %}

 {% block content %}

    <div class= "delete-page-design">

        <form action="{% url 'delete_order' item.id %}" method="POST">

            {% csrf_token %}

            <div class="card">
    
                <div class="card-body">
                    <h5 class="card-title">Are you sure, you want to delete this item : {{item}} </h5>

                    <br>

                    <a href="{% url 'home' %}" class="btn btn-primary">Cancle</a>

                    <button type="submit" class="btn btn-danger">Confirm</button>
                    
                </div>
            </div>

            



        </form>

    </div>

 {% endblock content %}