

<style>

   .order-form-design{

    
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    
   }

</style>

{% extends 'accounts/main.html' %}

 {% block title %}

    <title> Order form </title>

 {% endblock title %}

 {% block content %}

   <div class = "row ">

      <div class = "col-md-8 order-form-design">

         <div class = "card card-body">

            <form action ="" method = "POST">

               {% csrf_token %}

               {{ form.management_form }}

               {% for form in form  %}

               
               
                  {{form}}

                  <hr>
               
               {% endfor %}

               

               <a href="#"><button class="btn btn-sm btn-primary" type="submit">Submit</button></a>

         

            </form>



         </div>

      </div>

   </div>

    
 {% endblock content %}

    

